
/* footer styles */
.footer {
    background-color: #000;
    color: rgb(255, 255, 255);
    font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: -2px;
    box-shadow: inset 20px 26px 100px -8px rgba(109, 96, 36, 0.58)
 }
 
 .footer>.footer-logo img {
    width: 200px;
    height: 200px;
 }
 
 .footer>.footer-phone-hours span {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 1em;
    letter-spacing: 2px;
 }
 
 .footer>.footer-phone-hours>.footer-hours {
    font-size: 0.8em;
    color: #726335db;
    text-transform: uppercase;
 }
 
 .footer>.link-wrapper {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 400px;
 }
 
 .footer>.social-icons {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 200px;
    display: flex;
    justify-content: space-around;
 }
 
 .footer>.social-icons a {
    font-size: 1.5em;
    color: #726335db;
    transition: 0.5s;
 }
 
 .footer>.social-icons a:hover {
    color: #cea135;
 }
 
 .footer>.copyright-wrapper {
    margin-bottom: 25px;
    font-size: 0.7em;
    color: #858585;
 }