/* Common nav style */
.navigation-wrapper{
height: 190px;
background-color: #000000;

color:  #ffffff;
/* Flexbox container */
display: flex;
justify-content: space-between;
align-items: center;
padding: 60px 100px;
box-shadow: inset 20px 26px 100px -8px rgba(109, 96, 36, 0.58);
}

/* Left column styles */
.navigation-wrapper > .left-column{
    display: flex;
    align-items: center;
}

.navigation-wrapper >.left-column > .icon{
    margin-right: 15px;
}

.navigation-wrapper >.left-column > .icon i{
font-size: 2em;
color: #b5ac90c9 ;
}

.icon i{
    font-size: 1.5em;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.navigation-wrapper > .left-column > .contact-hours-wrapper > .hours{
    font-family: 'Roboto', sans-serif;
    color: #ffffffc8;
    font-size: 0.8em;
}

.contact-hours-wrapper > .phone{
    font-family: 'Roboto', sans-serif;
    color: #b5ac90c9;

}    

.links-wrapper > .nav-link a{
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #ffffff;
}

/* Center column styles */
.navigation-wrapper > .center-column{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42px;
    width: 500px;
}

.navigation-wrapper > .center-column >.banner-image{
    display: flex;
    justify-content: center;
}
  
.navigation-wrapper > .center-column >.banner-image img{
    width: 200px;
    height: 200px;    
}

.link-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-wrapper > .nav-links{
    width: 70px;
    text-align: center;
}

.link-wrapper > .nav-links a{
    font-family: "Ubuntu" sans-serif;
    color:  #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

.link-wrapper > .nav-links a:hover{
    color: #726335db;
    letter-spacing: 2px;
}

/* Right column styles */
.navigation-wrapper > .right-column{
    display: flex;
    align-items: center;
}

.navigation-wrapper > .right-column >  .address-wrapper{
    font-family: 'Ubuntu Condensed', sans-serif;
    text-align: right;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.navigation-wrapper > .right-column >  .address-wrapper a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 0.9em;
    transition: 0.5s;
}

.navigation-wrapper > .right-column >  .address-wrapper a:hover{
    color: #726335db;
}

.navigation-wrapper > .right-column > .contact-icon{
    margin-left: 20px;
    font-size: 1.8em;
}

.navigation-wrapper > .right-column > .contact-icon a{
    color: #b5ac90c9 ;
    transition: 0.5s;
}

.navigation-wrapper > .right-column > .contact-icon:hover{
    color: #726335db;
}